<!-- <p>show-inventario works!</p> -->
<div class="title">
<h1>LISTADO DE INVENTARIO</h1>
</div>
<div class="container">
    <table  mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="IdInventario">
            <th mat-header-cell *matHeaderCellDef> IdInventario </th>
            <td mat-cell *matCellDef="let element"> {{element.IdInventario}} </td>
        </ng-container>
        <ng-container matColumnDef="Folio">
            <th mat-header-cell *matHeaderCellDef> Folio </th>
            <td mat-cell *matCellDef="let element"> {{element.Folio}} </td>
        </ng-container>
        <ng-container matColumnDef="Tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="Estatus">
            <th mat-header-cell *matHeaderCellDef> Estatus </th>
            <td mat-cell *matCellDef="let element"> {{element.Estatus}} </td>
        </ng-container>
        <ng-container matColumnDef="Tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="Tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="Tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="Tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="Tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="Tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="Tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="Tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="Tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="Tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="Tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
        </ng-container>
            <!-- <th>Id</th> -->
            <!-- <th>IdInventario</th>
            <th>Folio</th>
            <th>Tipo</th>
            <th>Estatus</th>
            <th>DescFis</th>
            <th>DescTec</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>NomProd</th>
            <th>Nserie</th>
            <th>Costo</th>
            <th>Lugar</th>
            <th>Asignacion</th>
            <th>Observaciones</th>
            <th>FechaRegistro</th> -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons 
                aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
    