<!-- <p>show-inventario works!</p> -->
<div class="title">
    <h1>
        <div class="" align="left">
            <button mat-fab color="warn" aria-label="Example icon button with a home icon" (click)="redirigeAlHome()">
            <mat-icon>home</mat-icon>
            </button>
        </div>
        LISTADO DE INVENTARIO
    </h1>
</div>
<br>
<div class="container">
    <table  mat-table [dataSource]="dataSource" class="mat-elevation-z5" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="IdInventario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> IdInventario </th>
            <td mat-cell *matCellDef="let element"> {{element.IdInventario}} </td>
        </ng-container>
        <ng-container matColumnDef="Folio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Folio </th>
            <td mat-cell *matCellDef="let element"> {{element.Folio}} </td>
        </ng-container>
        <ng-container matColumnDef="Tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="Estatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
            <td mat-cell *matCellDef="let element"> {{element.Estatus}} </td>
        </ng-container>
        <ng-container matColumnDef="DescFis">
            <th mat-header-cell *matHeaderCellDef> DescFis </th>
            <td mat-cell *matCellDef="let element"> {{element.DescFis}} </td>
        </ng-container>
        <ng-container matColumnDef="DescTec">
            <th mat-header-cell *matHeaderCellDef> DescTec </th>
            <td mat-cell *matCellDef="let element"> {{element.DescTec}} </td>
        </ng-container>
        <ng-container matColumnDef="Marca">
            <th mat-header-cell *matHeaderCellDef> Marca </th>
            <td mat-cell *matCellDef="let element"> {{element.Marca}} </td>
        </ng-container>
        <ng-container matColumnDef="Modelo">
            <th mat-header-cell *matHeaderCellDef> Modelo </th>
            <td mat-cell *matCellDef="let element"> {{element.Modelo}} </td>
        </ng-container>
        <ng-container matColumnDef="NomProd">
            <th mat-header-cell *matHeaderCellDef> NomProd </th>
            <td mat-cell *matCellDef="let element"> {{element.NomProd}} </td>
        </ng-container>
        <ng-container matColumnDef="Nserie">
            <th mat-header-cell *matHeaderCellDef> Nserie </th>
            <td mat-cell *matCellDef="let element"> {{element.Nserie}} </td>
        </ng-container>
        <ng-container matColumnDef="Costo">
            <th mat-header-cell *matHeaderCellDef> Costo </th>
            <td mat-cell *matCellDef="let element"> {{element.Costo}} </td>
        </ng-container>
        <ng-container matColumnDef="Lugar">
            <th mat-header-cell *matHeaderCellDef> Lugar </th>
            <td mat-cell *matCellDef="let element"> {{element.Lugar}} </td>
        </ng-container>
        <ng-container matColumnDef="Asignacion">
            <th mat-header-cell *matHeaderCellDef> Asignacion </th>
            <td mat-cell *matCellDef="let element"> {{element.Asignacion}} </td>
        </ng-container>
        <ng-container matColumnDef="Observaciones">
            <th mat-header-cell *matHeaderCellDef> Observaciones </th>
            <td mat-cell *matCellDef="let element"> {{element.Observaciones}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaRegistro">
            <th mat-header-cell *matHeaderCellDef> FechaRegistro </th>
            <td mat-cell *matCellDef="let element"> {{element.FechaRegistro}} </td>
        </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons 
                aria-label="Select page of periodic elements">
    </mat-paginator>
    <br>
    <div align="center">
        <button mat-raised-button class="btn botonMargen" (click)="openDialogI()">Agregar</button>
        <button mat-raised-button class="btn botonMargen"> Modificar </button>
        <button mat-raised-button class="btn botonMargen"> Eliminar </button>
    </div>
</div>
