<!-- <p>show-usuarios works!</p> -->
<table class="table table table striped">
    <thead>
        <!-- <th>Id</th> -->
        <th>IdUsuario</th>
        <th>DocumentoIdentidad</th>
        <th>Nombres</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th>Ciudad</th>
        <th>FechaRegistro</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of usuarioLista$|async">
            <!-- <td>{{item.Id}}</td> -->
            <td>{{item.IdUsuario}}</td>
            <td>{{item.DocumentoIdentidad}}</td>
            <td>{{item.Nombres}}</td>
            <td>{{item.Telefono}}</td>
            <td>{{item.Correo}}</td>
            <td>{{item.Ciudad}}</td>
            <td>{{item.FechaRegistro}}</td>
        </tr>
    </tbody>
</table>
