
    <header class="top-header">
    </header>
    
    <!--dust particel-->
    <div>
      <div class="starsec"></div>
      <div class="starthird"></div>
      <div class="starfourth"></div>
      <div class="starfifth"></div>
    </div>
    <!--Dust particle end--->
    
    
    <div class="lamp__wrap">
      <div class="lamp">
        <div class="cable"></div>
        <div class="cover"></div>
        <div class="in-cover">
          <div class="bulb"></div>
        </div>
        <div class="light"></div>
      </div>
    </div>
    <!-- END Lamp -->
    <section class="error">
      <!-- Content -->
      <div class="error__content">
        <div class="error__message message">
          <h1 class="message__title">ERROR 404</h1>
          <p class="message__text">Lo sentimos la página que deseas acceder no ha sido encontrada o fue mal ingresada. Intentelo de nuevo</p>
        </div>
        <div class="error__nav e-nav">
          <a (click)="irPage()" class="e-nav__link" style="cursor: pointer;"></a>
        </div>
      </div>
      <!-- END Content -->
    
    </section>